.paint {
	display: flex;
	margin-left: 3em;
	flex-grow: 8;	
}

.colors {
	display: grid;
	grid-template-columns: repeat(1, 100px);
	grid-auto-rows: 100px;
	outline: red 1px solid;
}

.color {

}

td {
	border: 1px solid black;
	width: 40px;
	height: 40px;
}


.color--black {
	background-color: black;
}

.color--yellow {
	background-color: yellow;
}

.color--blue {
	background-color: blue;
}

.color--red {
	background-color: red;
}

.color--green {
	background-color: green;
}

.color--pink {
	background-color: pink;
}

.color--teal {
	background-color: teal;
}

.color--gold {
	background-color: gold;
}

.color--deeppink {
	background-color: deeppink;
}