.paint {
	display: flex;
	margin-left: 2em;
	flex-grow: 16;
}

.action {
	display: flex;
	flex-wrap: wrap;
}

#toolbar {
	margin-left: 20px;
	max-width: 250px;
}

.tb {
	margin-top: 15px;
}

.visually-hidden {
	display: none;
}

.colors {
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;

}

.color {
	width: 20px;
	height: 20px;
}


.line-width {
	margin-top: 10px;
}

.color--black {
	background-color: black;
}

.color--yellow {
	background-color: yellow;
}

.color--blue {
	background-color: blue;
}

.color--red {
	background-color: red;
}

.color--green {
	background-color: green;
}

.color--pink {
	background-color: pink;
}

.color--teal {
	background-color: teal;
}

.color--gold {
	background-color: gold;
}

.color--deeppink {
	background-color: deeppink;
}

.color--lime {
	background-color: lime;
}

.color--maroon {
	background-color: maroon;
}

.color--grey {
	background-color: grey;
}

.color--orange {
	background-color: orange;
}

.color--white {
	background-color: white;
}